@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
  
}
body{
  --swiper-pagination-color: #EA6D27;
  background-color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
  margin-right: 4%;
  margin-left: 4%;
}

.anim {
  /* Define your initial animation when the navigation is opened */
  animation: circle-in-hesitate 2.5s cubic-bezier(.25, 1, .30, 1) both;
  
}

.anim-closed {
  animation: circle-out-hesitate 2.5s cubic-bezier(.25, 1, .30, 1) both;

}

@keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:hesitate"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

@keyframes circle-out-hesitate {
  0% {
    clip-path: circle(125%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(0%);
  }
}

[transition-style="out:circle:hesitate"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-hesitate both;
}

.autoShow{
    animation: AutoShow both;
    animation-timeline:view(70% 5%) ;
}

@keyframes AutoShow {
    from{
        opacity: 0;
        transform: translateY(60px) scale(0.3);
        
    }to{
        opacity: 1;
        transform: translateY(0) scale(1);
        
    }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinAnim {
  animation: spin linear ;
  animation-timeline: view();


}

.leftAppear{
  animation: ShowLeft both;
  animation-timeline: view(50% 5%) ;
}
@keyframes ShowLeft {
  from{
    opacity: 0;
    transform: translateX(-60px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.rightAppear{
  animation: ShowRight both;
  animation-timeline: view(70% 5%) ;
}
@keyframes ShowRight {
  from{
    opacity: 0;
    transform: translateX(60px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}




